.card {
  width: 15rem;
  height: 20rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin: 1rem auto;
  transition: ease-in-out 0.3s;
}

.card:hover {
  box-shadow: 7px 7px 20px grey;
  transition: ease-in-out 0.3s;
}

.image-container {
  width: 90%;
  height: 50%;
  margin: 0.3rem auto;
  border-radius: 0.5rem;
  border: 1px solid red;
}

.description {
  width: 90%;
  height: 40%;
  margin: 0.3rem auto;
  border-radius: 0.5rem;
  border: 1px solid red;
}
